table {
    border:2px solid blue;
    width: 50%;
}

/*th:nth-child(1){
    background-color: silver;
    
}*/
th{
    background-color: silver;
    height:40px
}

tr{
    height:40px
}
tr:nth-child(2){
    background-color: #FCC;
    
}
tr:nth-child(3){
    background-color: #FCC;
    
}

tr:nth-child(4){
    background-color: #FCC;
    
}

tr:nth-child(5){
    background-color: #FFC;
    
}
tr:nth-child(6){
    background-color: #CFC;
    
}
tr:nth-child(7){
    background-color: #CFF;
    
}
tr:nth-child(8){
    background-color: #CcF;
    
}
tr:nth-child(9){
    background-color: #CcF;
    
}
tr:nth-child(10){
    background-color: #CcF;
    
}