#layout{

    width: 500px; 
    background-color: rgb(168, 215, 243); 
    padding: 5px; 
	
	
	
}

.gauche{
    text-align: left;
}
.droite{
    text-align: right;
}
.justifiée{
    text-align: justify; 
    
}

h2{
    color: blue;
    font-size: 1,5em;
    text-transform: capitalize;
}

p{
    color: red;

}
button{
    color:blue;
    background-color:yellow;
    width: 100px;
    text-align: center;
}